@import "tailwindcss";

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: #fcffff;
    --foreground: #202224;
    --card: #fcfefe;
    --card-foreground: #202323;
    --popover: #fcfefe;
    --popover-foreground: #202323;
    --primary: #1f2b3b;
    --primary-foreground: #ffffff;
    --secondary: #4773b4;
    --secondary-foreground: #ffffff;
    --muted: #efeff2;
    --muted-foreground: #646467;
    --accent: #e8e8e9;
    --accent-foreground: #202026;
    --destructive: #d34948;
    --destructive-foreground: #ffffff;
    --success: #49ba72;
    --success-foreground: #ffffff;
    --warning: #ff9800;
    --warning-foreground: #ffffff;
    --info: #2196f3;
    --info-foreground: #ffffff;
    --border: #d8d8d8;
    --input: #d8d8d8;
    --ring: #335577;
    --chart-1: #4477dd;
    --chart-2: #72d0af;
    --chart-3: #e48a69;
    --chart-4: #b78df2;
    --chart-5: #e54450;
    --sidebar: #fbfbfb;
    --sidebar-foreground: #252525;
    --sidebar-primary: #343434;
    --sidebar-primary-foreground: #fbfbfb;
    --sidebar-accent: #f7f7f7;
    --sidebar-accent-foreground: #343434;
    --sidebar-border: #ebebeb;
    --sidebar-ring: #b5b5b5;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: #101114;
    --foreground: #eeeeee;
    --card: #191919;
    --card-foreground: #eeeeee;
    --popover: #191919;
    --popover-foreground: #eeeeee;
    --primary: #afcbff;
    --primary-foreground: #0f131a;
    --secondary: #eabdc5;
    --secondary-foreground: rgb(27, 17, 17);
    --muted: #222222;
    --muted-foreground: #b4b4b4;
    --accent: #2a2a2a;
    --accent-foreground: #eeeeee;
    --destructive: #d34855;
    --destructive-foreground: #ffffff;
    --success: #49ba72;
    --success-foreground: #ffffff;
    --warning: #ff9800;
    --warning-foreground: #ffffff;
    --info: #2196f3;
    --info-foreground: #ffffff;
    --border: #2a2a2d;
    --input: #484949;
    --ring: #cec0ff;
    --chart-1: #4477dd;
    --chart-2: #72d0af;
    --chart-3: #e48a69;
    --chart-4: #b78df2;
    --chart-5: #e54450;
    --sidebar: #18181b;
    --sidebar-foreground: #f4f4f5;
    --sidebar-primary: #a88cd0;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #27272a;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #27272a;
    --sidebar-ring: #d4d4d8;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }
}

@layer utilities {
  *::selection {
    @apply bg-primary/90 text-primary-foreground dark:bg-primary/90 dark:text-primary-foreground;
  }

  pre *::selection,
  code::selection {
    @apply bg-secondary/80 text-secondary-foreground;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  code,
  pre {
    font-family: var(--font-geist-mono) !important;
  }

  code .token,
  pre .token {
    @apply text-wrap;
  }

  pre,
  .dark pre {
    color: white;
    background-color: var(--color-neutral-900) !important;
    border: 1px solid var(--color-neutral-800);
  }

  .expanded pre {
    height: 500px;
    transition: height 250ms ease-in-out;
  }

  .not-expanded pre {
    height: 200px;
    transition: height 250ms ease-in-out;
  }

  @keyframes rotate {
    from {
      transform: rotateY(-90deg);
      opacity: 0;
    }
    to {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }

  .rotate-out {
    animation: rotate 0.5s backwards;
  }

  .rotate-in {
    animation: rotate 0.5s forwards;
  }

  .logo-animation {
    animation: spin 0.5s ease-in-out;
  }

  .border-swatch {
    border-color: #00000030;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
